:global(.ui.basic.label).toolbarBtn {
  border: none;
}
.likers {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 5px;
  z-index: 1;
}
:global(.ui.basic.label).likes {
  border: none;
}
.likes:hover .likers {
  margin-top: -50px;
  margin-left: -15px;
  display: block;
}
.likers .userImage {
  margin: 3px;
}
