:global(.ui.modal) {
  > :global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}
.imageWrapper {
  margin-bottom: 10px;
  position: relative;
}

:global(.ui.image).image {
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.btnImgLabel {
  margin: 0 0 0 10px;
}
:global(.ui.basic.label).toolbarBtn {
  border: none;
  background: none;
  right: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-left: 120px;
  left: 0;
}
:global(.ui.basic.label).toolbarBtn:hover {
  background: none;
}
